# Pastikan menggunakan versi terbaru yang kompatibel dengan Python 3.12
gensim
scipy
torch
torch-geometric
sastrawi
scikit-learn
nltk
wordcloud
matplotlib
numpy
sentence-transformers
openpyxl

